
@addTagHelper WebApplication1.TagHelpers.*,WebApplication1
 
@{
    ViewData["Title"] = "ContactUs";
}

<h1>@ViewData["Title"]</h1>

<p>Use this Link To Contact Us ..  </p>

<email address="eslamturboo419@gmail.com" content="Contact Us" >  </email>